body {
    background-color: rgb(173, 230, 203);
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
  }